:root {
    --colorPrincipal: #E67E22;
}

* {
    margin: 0;
    padding: 0;
    justify-content: 0;
}

.cabecalho {
    background-color: var(--colorPrincipal);
    text-align: center;
    justify-content: center;
    padding: 20px;
    
}

span.titulo {
    font-size: 35px;
    font-family: Trebuchet MS, sans-serif;
    font-weight: bold;
}

span.titulo:hover{
    color: white;
    transition: 0.6s;
    font-size: 40px;
}